/* -------------------------------------------------------------------------- */
/*                         Style Sheet for index.html                         */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: "Red Hat Display";
  src: url(../assets/RedHatDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Red Hat Mono";
  src: url(../assets/RedHatMono-VariableFont_wght.ttf);
}

:root {
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
  line-height: 1.2;
  font-weight: normal;
  font-size: 1.2rem;

  color-scheme: light dark;
  color: black;
  background-color: #ececec;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* ----------------------------- Navbar Section ---------------------------- */

.logo-text {
  width: 15%;
  margin: 1.25rem 2rem;

  @media screen and (max-width: 1024px) {
    width: 30%;
    @media screen and (max-width: 700px) {
      display: none;
    }
  }
}

.logo-mascot {
  display: none;
  width: 20%;
  margin: 1.25rem 2rem;
  @media screen and (max-width: 700px) {
    display: flex;
    @media screen and (max-width: 500px) {
      width: 50%;
    }
  }
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  background-color: #ffffffcc;
  width: 100%;
}

.navbar-left {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.navbar-right .nav-links {
  margin: 0 1rem;
  list-style-type: none;
  display: flex;
}

.navbar-right .nav-links li {
  margin: 0 1rem;
}

ul.nav-links {
  align-items: center;
}

.navbar-right .nav-links a {
  color: #000;
  text-decoration: none;
  display: inline-flex;
}

.nav-links a:hover {
  color:#cf3c23
}

.github-stars-badge {
  height: 28px;
  @media screen and (max-width: 768px) {
    align-content: center;
    height: 20px;
  }
}

.viewport {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.about-viewport {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  @media screen and (max-width: 1024px) {
    height: auto;
  }
}

.orange-background {
  color: white;
  background-color: #cf3c23;
}

.welcome,
.install,
.demo,
.about,
.presentation,
.community {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0%;
}

/* ----------------------------- Welcome Section ---------------------------- */

.welcome-grid {
  display: grid;
  grid-template-areas: "welcome-info llama-mascot";
  align-items: center;
  align-content: stretch;
  justify-items: center;
  justify-content: stretch;
  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.welcome-info,
.llama-mascot {
  display: block;
}

.welcome-info {
  grid-area: welcome-info;
  padding: 10%;
}

.welcome-h1,
.welcome-h1-orange {
  display: inline;
  font-weight: 500;
}

.welcome-h1-orange {
  color: #cf3c23;
}

.welcome-h2 {
  font-weight: 500;
  padding-right: 10rem;
  @media screen and (max-width: 500px) {
    padding: 0%;
    font-size: 1rem;
  }
}

.llama-mascot {
  align-self: center;
  justify-self: center;
  grid-area: llama-mascot;
  width: 50%;
  @media screen and (max-width: 1024px) {
    width: 75%;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

button:hover {
  background-color: #f7f7f7;
}

button {
  align-items: center;
  border-radius: 15px;
  border: 1px solid transparent;
  margin: 12.5px 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:not(.install-button, .copy-button) {
  display: flex;
  align-items: center;
  width: 70%;
  @media screen and (max-width: 500px) {
    padding: 0.3rem 0.75rem;
    font-size: 0.7rem;
    width: 100%;
  }
}

button img {
  padding-left: 5%;
}

button p {
  padding-left: 10%;
}

ul {
  list-style: none;
  padding: 0;
}

/* ----------------------------- Install Section ---------------------------- */
.copy-button {
  align-content: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
}

.copy-button:hover {
  background-color: #454545;
  border-radius: 20%;
  transition-duration: 2ms;
}

.copy-svg {
  @media screen and (max-width: 768px){
    width: 20px;
  }
}

.install-info, .demo-info {
  padding: 10%;
  @media screen and (max-width: 1024px) {
    font-size: medium;
    @media screen and (max-width: 768px) {
      font-size: small;
    }
  }
}

.install-h3 {
  font-weight: 500;
}

.install-code {
  /* word-break: break-all; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Red Hat Mono", monospace !important;
  font-weight: 500;
  padding: 1rem;
  padding-left: 2rem;
  background-color: #262626;
  border-radius: 15px;
  width: 100%;
  @media screen and (max-width: 768px) {
       padding: 0.75rem;
  padding-left: 1rem;
      @media screen and (max-width: 500px) {
         padding: 0.5rem;
  padding-left: 1rem;;
      }
    }
}

.install-code div {
  display: inline-flex;
}

.install-button {
  @media screen and (max-width: 768px) {
    padding: 10px;
    font-size: larger;
  }
}

/* ------------------------------ Demo Section ------------------------------ */

.demo-gif {
  display: flex;
  align-self: center;
  justify-self: center;
  width: 100%;
  max-width: 800px;
}

/* ------------------------------ About Section ----------------------------- */

.about {
  padding: 10%;
  @media screen and (max-width: 1024px) {
    padding: 15% 10%;
    @media screen and (max-width: 500px) {
      padding: 30% 10%;
    }
  }
}

.about-header {
  display: inline;
  align-content: center;
  @media screen and (max-width: 1440px) {
    font-size: 2.5rem;
  }
}

.about-grid {
  display: grid;
  grid-template-areas:
    "graphic-1 graphic-2 graphic-3 graphic-4"
    "text-1 text-2 text-3 text-4";
  align-items: center;
  align-content: stretch;
  justify-items: center;
  justify-content: stretch;
  text-align: center;
  gap: 2em;
  height: auto;

  @media screen and (max-width: 1024px) {
    grid-template-areas:
      "graphic-1 graphic-2"
      "text-1 text-2"
      "graphic-3 graphic-4"
      "text-3 text-4";
    gap: 1em;
    @media screen and (max-width: 500px) {
      grid-template-areas:
        "graphic-1"
        "text-1"
        "graphic-2"
        "text-2"
        "graphic-3"
        "text-3"
        "graphic-4"
        "text-4";
    }
  }
}

.about-grid > * {
  justify-self: center;
  align-self: center;
  height: auto;
}

.about-graphic-1 {
  grid-area: graphic-1;
}

.about-graphic-2 {
  grid-area: graphic-2;
}

.about-graphic-3 {
  grid-area: graphic-3;
}

.about-graphic-4 {
  grid-area: graphic-4;
}

.about-text-1 {
  grid-area: text-1;
}

.about-text-2 {
  grid-area: text-2;
}

.about-text-3 {
  grid-area: text-3;
}

.about-text-4 {
  grid-area: text-4;
}

.about-graphic-1,
.about-graphic-2,
.about-graphic-3,
.about-graphic-4 {
  width: 20vw;
  margin-top: 1vh;
  @media screen and (max-width: 1024px) {
    width: 30vw;
    @media screen and (max-width: 500px) {
      width: 75vw;
    }
  }
}

.about-text-1,
.about-text-2,
.about-text-3,
.about-text-4 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: x-larger;
}

.demo-header,
.presentation-header,
.presentation-text {
  text-align: center;
}

/* ------------------------------ Community Section ------------------------------ */

.community {
  padding: 6% 10%;
  height: auto;
  @media screen and (max-width: 768px) {
    padding: 10%;
  }
}

.community-info {
  max-width: 60ch;
  text-align: center;
}

.community-header {
  margin-bottom: 1rem;
}

.community-text {
  margin: 1rem 0 0;
  font-size: 1.1rem;
  line-height: 1.5;
}

.community-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.community-links button {
  width: auto;
  min-width: 240px;
  justify-content: center;
  text-align: center;
}


/* ------------------------------ Other Styles ------------------------------ */

footer {
  padding: 25px;
  text-align: center;
}

.footer-link:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  padding: 12px 16px;
  border: 1px solid #ddd;
  text-align: left;
}

thead {
  background-color: #f5f5f5;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

table a,
.presentation p a {
  color: blue;
  text-decoration: underline;
}
